# SPDX-FileCopyrightText: Copyright (C) swift Project Community / Contributors
# SPDX-License-Identifier: CC0-1.0

attrs==25.4.0
boolean.py==5.0
charset-normalizer==3.4.5
click==8.3.1
deepmerge==2.0
Jinja2==3.1.6
license-expression==30.4.4
Markdown==3.10.2
MarkupSafe==3.0.3
Pygments==2.19.2
pymdown-extensions==10.21
python-debian==1.1.0
python-magic==0.4.27
PyYAML==6.0.3
reuse==6.2.0
tomlkit==0.14.0
zensical==0.0.25
